
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;1,300&display=swap');

body {
    background-color: #484D50;
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

h1 {
    color: #002717;
    font-size: 60px;
    margin-bottom: 20px;
    background-color: #A3FD9E;
    padding: 10px;
    width: 1484px;
    margin: 0 auto;
    border: 1px solid black;
}

h3 {
    color: #A3FD9E;
    padding: 10px;
    margin: 5px;
    font-size: 30px;
}



img {
    width: 400px;
    height: 200px;
    margin-bottom: 10px; 
    margin-left: 10px;
    margin-top: -5px;
    border: 12px solid #000000;
}